- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('merge_request_widget/ci_bundle.js')

- if @merge_request.rebase_in_progress? || (defined?(rebase_in_progress) && rebase_in_progress)
  %h4.rebase-in-progress
    = icon("spinner spin")
    Rebase in progress&hellip;
  %p
    This merge request is in the process of being rebased.

- elsif !can_push_branch?(@merge_request.source_project, @merge_request.source_branch)
  %h4
    = icon("exclamation-triangle")
    Fast-forward merge is not possible
  %p
    Rebase the source branch onto
    %span.label-branch= @merge_request.target_branch
    to allow this merge request to be merged.
- else
  = form_for [:rebase, @project.namespace.becomes(Namespace), @project, @merge_request], remote: true, method: :post, html: { class: 'rebase-mr-form js-requires-input' } do |f|
    = hidden_field_tag :authenticity_token, form_authenticity_token
    .accept-merge-holder.clearfix.js-toggle-container
      .accept-action
        = f.button class: "btn btn-reopen js-rebase-button" do
          Rebase onto #{@merge_request.target_branch}
      .accept-control
        Fast-forward merge is not possible. Rebase the source branch onto the target branch or merge target branch into source branch to allow this merge request to be merged.
